/* .main {
    min-height: 100vh;
    margin: 0px;
    padding: 0px;

} */
.center-container {
    display: flex;
    align-items: center;
    min-height: 90vh;
    justify-content: center;
    margin-left: 88px;
}

.texto{
    color: var(--text-color);
}